@font-face {
    font-family: 'Figtree Italic';
    src: url(./assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Figtree';
    src: url(./assets/fonts/Figtree-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



body {
    background-color: hsl(47, 88%, 63%);
    
    font-family: 'Figtree';
    color: hsl(0, 0%, 7%);
    line-height: 150%;
    letter-spacing: 0%;
}

main {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.card { 
    display: inline-block;
    padding:24px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    border: 1px solid hsl(0, 0%, 7%);
    box-shadow: 5px 5px 0 hsl(0, 0%, 7%);
    width: 384px;
}

.image {
    margin-bottom: 24px;
}

.image img {
    border-radius: 10px;
    display: block;
    max-width: 100%;
    height: auto;
    /*width:100%; width: 100vw; width: 100vw;
    height:100%;*/ 
}

.content {
    display:flex ;
    flex-direction: column;
    align-items: flex-start;
}

.content-tag {
    padding: 4px 12px;
    background-color: hsl(47, 88%, 63%);
    display: inline-block;
    border-radius: 4px;
    margin-bottom: 12px;
    font-weight: 800;
    font-size: 14px;
}

.content-date{
    margin-bottom: 12px;
    font-weight: 500;
    font-size: 14px;
} 

.content-heading-text {
    margin-bottom: 12px;
    font-weight:800;
    font-size: 20px;
}

.content-heading {
    text-decoration: none;
    transition: color 0.5s linear;
    color: hsl(0, 0%, 7%);
}

.content-heading:hover {
    color: hsl(47, 88%, 63%);
}

.content-text {
    font-size:16px;
    font-weight:500;
    color: hsl(0, 0%, 42%);
    margin-bottom:12px;
}

.author {
    display: flex;
    align-items: center;
    margin: 0;
}

.author-image img  {
    width: 32px;
    height: 32px;
}

.author-name {
    font-weight: 800;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    margin-left: 12px;
}